body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: default;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.s-alert-wrapper div {
  border-radius: 3px;
}

.Card {
  padding: 0 !important;
}
